In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import csv

In [2]:
clean = pd.read_parquet(".\clean_master.parquet")
clean.head(3)

,RELEASE_DATE,TITLE,PRODUCTION_BUDGET,DOMESTIC_GROSS,WORLDWIDE_GROSS,PRODUCTION_BUDGET_USD,DOMESTIC_GROSS_USD,WORLDWIDE_GROSS_USD,FOREIGN_GROSS_USD,ROI_USD,GENRE,LEAD_ROLE,ACTOR_EARNINGS,FILM_DISTRIBUTORS
0,2015-12-18,Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,053,311,220",306000000.0,936662225.0,2.053311e+09,1.116649e+09,5.710167,"Action, Adventure, Sci-Fi",Daisy Ridley,"$300,000",Walt Disney
1,2018-04-27,Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,134,200",300000000.0,678815482.0,2.048134e+09,1.369319e+09,5.827114,"Action, Adventure, Sci-Fi",Robert Downey,"$10,000,000",Walt Disney
2,2017-11-17,Justice League,"$300,000,000","$229,024,295","$655,945,209",300000000.0,229024295.0,6.559452e+08,4.269209e+08,1.186484,"Action, Adventure, Sci-Fi",Ben Affleck,"$10,000,000",Warner Bros

In [3]:
clean = clean.dropna()
clean

,RELEASE_DATE,TITLE,PRODUCTION_BUDGET,DOMESTIC_GROSS,WORLDWIDE_GROSS,PRODUCTION_BUDGET_USD,DOMESTIC_GROSS_USD,WORLDWIDE_GROSS_USD,FOREIGN_GROSS_USD,ROI_USD,GENRE,LEAD_ROLE,ACTOR_EARNINGS,FILM_DISTRIBUTORS
0,2015-12-18,Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,053,311,220",306000000.0,936662225.0,2.053311e+09,1.116649e+09,5.710167,"Action, Adventure, Sci-Fi",Daisy Ridley,"$300,000",Walt Disney
1,2018-04-27,Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,134,200",300000000.0,678815482.0,2.048134e+09,1.369319e+09,5.827114,"Action, Adventure, Sci-Fi",Robert Downey,"$10,000,000",Walt Disney
2,2017-11-17,Justice League,"$300,000,000","$229,024,295","$655,945,209",300000000.0,229024295.0,6.559452e+08,4.269209e+08,1.186484,"Action, Adventure, Sci-Fi",Ben Affleck,"$10,000,000",Warner Bros
3,2015-11-06,Spectre,"$300,000,000","$200,074,175","$879,620,923",300000000.0,200074175.0,8.796209e+08,6.795467e+08,1.932070,Action Adventure Thriller,Daniel Craig,"$30,000,000",Sony Pictures
4,2018-05-25,Solo: A Star Wars Story,"$275,000,000","$213,767,512","$393,151,347",275000000.0,213767512.0,3.931513e+08,1.793838e+08,0.429641,Action Adventure Sci-Fi,Alden Ehrenreich,"$300,000",Walt Disney

In [4]:
clean['ACTOR_EARNINGS_usd'] = clean['ACTOR_EARNINGS'].replace('[\$,]', '', regex=True).astype(np.int64)

In [5]:
clean.drop(clean.index[5:],0,inplace=True)
clean.head(10)

C:\Users\stefano caruso\AppData\Local\Temp\ipykernel_14104\255441335.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  clean.drop(clean.index[5:],0,inplace=True)

,RELEASE_DATE,TITLE,PRODUCTION_BUDGET,DOMESTIC_GROSS,WORLDWIDE_GROSS,PRODUCTION_BUDGET_USD,DOMESTIC_GROSS_USD,WORLDWIDE_GROSS_USD,FOREIGN_GROSS_USD,ROI_USD,GENRE,LEAD_ROLE,ACTOR_EARNINGS,FILM_DISTRIBUTORS,ACTOR_EARNINGS_usd
0,2015-12-18,Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,053,311,220",306000000.0,936662225.0,2.053311e+09,1.116649e+09,5.710167,"Action, Adventure, Sci-Fi",Daisy Ridley,"$300,000",Walt Disney,300000
1,2018-04-27,Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,134,200",300000000.0,678815482.0,2.048134e+09,1.369319e+09,5.827114,"Action, Adventure, Sci-Fi",Robert Downey,"$10,000,000",Walt Disney,10000000
2,2017-11-17,Justice League,"$300,000,000","$229,024,295","$655,945,209",300000000.0,229024295.0,6.559452e+08,4.269209e+08,1.186484,"Action, Adventure, Sci-Fi",Ben Affleck,"$10,000,000",Warner Bros,10000000
3,2015-11-06,Spectre,"$300,000,000","$200,074,175","$879,620,923",300000000.0,200074175.0,8.796209e+08,6.795467e+08,1.932070,Action Adventure Thriller,Daniel Craig,"$30,000,000",Sony Pictures,30000000
4,2018-05-25,Solo: A Star Wars Story,"$275,000,000","$213,767,512","$393,151,347",275000000.0,213767512.0,3.931513e+08,1.793838e+08,0.429641,Action Adventure Sci-Fi,Alden Ehrenreich,"$300,000",Walt Disney,300000